.darkMode {
  background-color: black;

  ::ng-deep .filter-container {
    color: aliceblue !important;
  }

  ::ng-deep thead {
    color: aliceblue !important;
  }

}

.darkBg {
  background-color: black;
  background-image:
    radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 10px),
    radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 5px),
    radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 10px),
    radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 10px),
    radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 5px),
    radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 10px),
    radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 10px),
    radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 5px),
    radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 10px),
    radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 5px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 550px 550px, 350px 350px, 250px 250px, 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 15px 70px, 60px 80px, 100px 200px, 80px 120px, 20px 35px, 260px 130px, 70px 100px;
  padding-left: 0.15rem;
  padding-right: 0.15rem;
}

.lightBg {
  padding-left: 0.15rem;
  padding-right: 0.15rem;
}

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
